.guests {
  padding: 0;
  list-style-type: none;

}

#male-guests li {
  background-color: #88b2f7;
  color: white;
  border-style: solid;
  border-color: black;
  margin-bottom: 8px;
}

#female-guests li {
  background-color: pink;
  color: grey;
  border-style: solid;
  border-color: black;
  margin-bottom: 8px;
}

.omnibar {
  padding-left: 40px;
  padding-right: 40px;
  margin-left: 0px;
  margin-right: 0px;
}

header {
  background-color: red;
  color: white;
  text-align: center;
  padding: 8px;
}
