<header>
  <h1 id="title">Parties</h1>
</header>

{{outlet}}

<footer>
  {{#if session.isAuthenticated}}
    <h6>You are currently logged as: {{session.data.authenticated.profile.email}}</h6>
    <button {{action 'logout'}}>Logout</button>
  {{/if}}
</footer>
