<h2>List of Parties</h2>

<ul>
  {{#each model.parties as |party|}}
    <li class='party-open'>
      {{#link-to 'party-detail' party.id}}
        {{party.name}}
      {{/link-to}}
    </li>
  {{/each}}
</ul>
